ul,
li {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

a {
  text-decoration-line: none;
}

.form-label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 1rem;
}
.form-group .form-control {
  border: none;
  border-radius: 0;
  border-bottom: 0.3rem #ae18e2 solid;
  outline: none;
  padding-left: 0;
  padding-right: 0;
}
.form-group .form-control:focus {
  outline: none;
  box-shadow: none;
}
.form-group .form-control::-moz-placeholder {
  color: black;
  opacity: 1;
  font-weight: bold;
}
.form-group .form-control::placeholder {
  color: black;
  opacity: 1;
  font-weight: bold;
}

.form-control:focus ~ .form-label {
  transform: translateY(0);
}

.form-radio {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.form-radio .form-check {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.form-radio .form-check-input {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}
.form-radio .form-check-label {
  margin-top: 0.3rem;
}

.form-submit {
  padding: 0.5rem 3rem;
  background-color: #ae18e2;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
}

footer .accordion {
  background-color: transparent;
}
footer .accordion .accordion-item .accordion-header {
  width: 100%;
  background-color: #ececec;
  position: relative;
}
footer .accordion .accordion-item .accordion-header .accordion-button {
  width: -moz-max-content;
  width: max-content;
  background-color: transparent;
  box-shadow: none;
  position: absolute;
  top: 0rem;
  right: 1rem;
}
footer .accordion-body {
  padding: 2rem 0;
  background-color: #fafafa;
}